{% extends "base.html" %}

{% block title %}Detail{% endblock %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        td:nth-child(2){
            overflow-wrap: anywhere;
        }
    </style>
{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ url_for(".home") }}">Certificates</a></li>
        <li>Detail</li>
    </ol>

    {% if crt.is_ca %}
        <p>
            <a href="{{ url_for(".create",parent=item.id) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-plus"></i>
                Create a child Certificate
            </a>
            <a href="{{ url_for(".delete",id=item.id) }}" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
                Delete
            </a>
        </p>
    {% endif %}


    <div class="panel panel-default">
        <div class="panel-heading">
            Detail
        </div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th colspan="2">
                    Subject Name
                </th>
            </tr>
            {% for imte in cert.subject %}
                <tr>
                    <td style="text-align: right">{{ imte.oid._name }}</td>
                    <td>
                        {{ imte.value }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2">
                    Issuer Name
                </th>
            </tr>
            {% for imte in cert.issuer %}
                <tr>
                    <td style="text-align: right">{{ imte.oid._name }}</td>
                    <td>
                        {{ imte.value }}
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <th colspan="2">
                    Validity
                </th>
            </tr>
            <tr>
                <td style="text-align: right">Not Before</td>
                <td>
                    {{ cert.not_valid_before }}
                </td>
            </tr>
            <tr>
                <td style="text-align: right">Not After</td>
                <td>
                    {{ cert.not_valid_after }}
                </td>
            </tr>

            <tr>
                <th colspan="2">
                    Miscellaneous
                </th>
            </tr>
            <tr>
                <td style="text-align: right">Serial Number</td>
                <td>
                    {{ cert.serial_number }}
                </td>
            </tr>
            <tr>
                <td style="text-align: right">Signature Algorithm</td>
                <td>
                    {{ cert.signature_hash_algorithm.name }}
                </td>
            </tr>
            <tr>
                <td style="text-align: right">Version</td>
                <td>
                    {{ cert.version }}
                </td>
            </tr>
            <tr>
                <td style="text-align: right">Download</td>
                <td>
                    <a href="{{ url_for(".export",id=item.id,format='key') }}" class="btn btn-default">key</a>
                    <a href="{{ url_for(".export",id=item.id,format='crt') }}" class="btn btn-default">cert</a>
                    <a href="{{ url_for(".export",id=item.id,format='crt-chain') }}"
                       class="btn btn-default">cert(chain)</a>
                    <a href="{{ url_for(".export",id=item.id,format='pkcs12') }}" class="btn btn-default">pkcs12</a>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Fingerprints
                </th>
            </tr>
            <tr>
                <td style="text-align: right">SHA-1</td>
                <td>
                    {{ item.sha1 }}
                </td>
            </tr>
            <tr>
                <td style="text-align: right">SHA-256</td>
                <td>
                    {{ item.sha256 }}
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Extensions
                </th>
            </tr>
            {% for ext in cert.extensions %}
                <tr>
                    <td style="text-align: right">{{ ext.oid._name }}</td>
                    <td>
                        {{ ext.value }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2">Public Key</th>
            </tr>
            <tr>
                <td>OpenSSH</td>
                <td>
                    <span>{{ item.openssh_public_key }}</span>
                </td>
            </tr>
            <tr>
                <td>PEM</td>
                <td>
                    <pre>{{ item.pem_public_key }}</pre>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
