{% extends "base.html" %}

{% block title %}Detail of {{ item.cn }}{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="/static/css/animate-4.1.0.min.css" rel="stylesheet">
    <style type="text/css">
        td:nth-child(2) {
            overflow-wrap: anywhere;
        }

        .highlighted {
            color: darkred;
        }
    </style>
{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ url_for(".home") }}">Certificates</a></li>
        <li>{{ item.cn }}</li>
    </ol>

    {% if crt.is_ca %}
        <p>
            <a href="{{ url_for(".create",parent=item.id) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-plus"></i>
                Create a child Certificate
            </a>
            <a href="{{ url_for(".delete",id=item.id) }}" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
                Delete
            </a>
        </p>
    {% endif %}


    <div class="panel panel-default">
        <div class="panel-heading">
            Detail
        </div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th colspan="2">
                    Subject Name
                </th>
            </tr>
            {% for field in cert.subject %}
                <tr>
                    <td style="text-align: right">{{ field.oid._name }}</td>
                    <td>
                        {{ field.value }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2">
                    Issuer Name
                </th>
            </tr>
            {% for field in cert.issuer %}
                <tr>
                    <td style="text-align: right">{{ field.oid._name }}</td>
                    <td>
                        {{ field.value }}
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <th colspan="2">
                    Validity
                </th>
            </tr>
            <tr>
                <td style="text-align: right">Not Before</td>
                <td>
                    {{ cert.not_valid_before }}
                </td>
            </tr>
            <tr>
                <td style="text-align: right">Not After</td>
                <td>
                    {{ cert.not_valid_after }}
                </td>
            </tr>

            <tr>
                <th colspan="2">
                    Miscellaneous
                </th>
            </tr>
            <tr>
                <td style="text-align: right">Serial Number</td>
                <td>
                    <span data-dec="{{ cert.serial_number }}" data-hex="{{ item.sn }}">
                    {{ item.sn }}
                    </span>
                    <button class="btn btn-default" id="toggle_hex">toggle</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">Signature Algorithm</td>
                <td>
                    {{ cert.signature_hash_algorithm.name }}
                </td>
            </tr>
            <tr>
                <td style="text-align: right">Version</td>
                <td>
                    {{ cert.version }}
                </td>
            </tr>
            <tr>
                <td style="text-align: right">Download</td>
                <td id="export">
                    <a href="{{ url_for(".export",id=item.id,format='crt') }}" class="btn btn-default">
                        <i class="glyphicon glyphicon-save"></i>
                        cert
                    </a>

                    {% if item.key %}
                        <a href="{{ url_for(".export",id=item.id,format='crt-chain') }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-save"></i>
                            cert(chain)
                        </a>
                        <a href="{{ url_for(".export",id=item.id,format='key') }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-save"></i>
                            key
                        </a>
                        <div class="btn-group">
                            <a href="{{ url_for(".export",id=item.id,format='pkcs12') }}" class="btn btn-default">
                                <i class="glyphicon glyphicon-save"></i>
                                pkcs12
                            </a>
                            <a class="btn btn-default" data-clipboard-text="{{ item.pkcs12_password }}">
                                <i class="glyphicon glyphicon-copy"></i>
                                Phrase:{{ item.pkcs12_password }}
                            </a>
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Fingerprints
                </th>
            </tr>
            <tr>
                <td style="text-align: right">SHA-1</td>
                <td>
                    {{ item.sha1 }}
                    <button class="btn btn-default btn-sm" data-clipboard-text="{{ item.sha1 }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">SHA-256</td>
                <td>
                    {{ item.sha256 }}
                    <button class="btn btn-default btn-sm" data-clipboard-text="{{ item.sha256 }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">KeyID</td>
                <td>
                    {{ item.keyid }}
                    <button class="btn btn-default btn-sm" data-clipboard-text="{{ item.keyid }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button>
                </td>
            </tr>

            <tr>
                <td style="text-align: right">SKID</td>
                <td>
                    {{ item.skid }}
                    <button class="btn btn-default btn-sm" data-clipboard-text="{{ item.skid }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Extensions
                </th>
            </tr>
            {% for ext in cert.extensions %}
                <tr>
                    <td style="text-align: right">{{ ext.oid._name }}</td>
                    <td>
                        {{ ext.value }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/clipboard-2.0.6.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var clipboard = new ClipboardJS('.btn');
            clipboard.on('success', function (e) {
                $('.btn.active').removeClass("active")
                $(e.trigger).addClass("active animate__animated animate__heartBeat").focus()
                e.trigger.addEventListener('animationend', () => {
                    $(e.trigger).removeClass("animate__animated animate__heartBeat")
                });
            })

            var show_hex = true
            $("#toggle_hex").click(function () {
                show_hex = !show_hex
                var $hex_text = $(this).prev("span")
                $hex_text.text(
                    show_hex ? $hex_text.data('hex') : $hex_text.data('dec')
                )
            })

            $("#export a[href]").not("a[href*=pkcs]").each(function () {
                var $btn = $("<a class='btn btn-default '><i class='glyphicon glyphicon-copy'></i></a>")
                $(this).wrapAll("<div class='btn-group'>").after($btn)
                $.ajax({
                    url: $(this).attr("href"),
                    success: function (content) {
                        $btn.attr("data-clipboard-text", content)
                    }
                })
            })
        })
    </script>
{% endblock %}
