{% extends "base.html" %}

{% block title %}Import Certificate{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for(".home") }}">Certificates</a></li>
        <li>Import</li>
    </ol>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Input text directly
                </div>
                <div class="panel-body">
                    <a href="{{ url_for(".import_by_text") }}">Go</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Upload a certificate file
                </div>
                <div class="panel-body">
                    <a href="{{ url_for(".import_by_upload") }}">Go</a>

                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Scan a website
                </div>
                <div class="panel-body">
                    <a href="{{ url_for(".import_by_scan") }}">Go</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
