{% extends "base.html" %}

{% block title %}证书列表{% endblock %}

{% block content %}

    <p>
        <a href="{{ url_for(".create") }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i>
            创建证书
        </a>
    </p>


    <div class="panel panel-default">
        <div class="panel-heading">
            证书
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>SHA1 指纹</th>
                <th>创建时间</th>
                <th>到期时间</th>
                <th>用途</th>
                <th>通用名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in certificates %}
                <tr>
                    <td>
                        {{ item.sha1[:8] }}
                        <i class="glyphicon glyphicon-info-sign" title="{{ item.sha1 }}"></i> <br/>
                    </td>
                    <td>
                        {{ item.created }}
                    </td>
                    <td>
                        {{ item.cert.not_valid_after }}
                    </td>
                    <td>
                        {% if item.is_ca %}
                            <i class="glyphicon glyphicon-cloud"></i> CA
                        {% endif %}
                        {% if item.is_server %}
                            <i class="glyphicon glyphicon-tasks"></i> Server
                        {% endif %}
                        {% if item.is_client %}
                            <i class="glyphicon glyphicon-user"></i> Client
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for(".detail",id=item.id) }}">
                            {{ item.cn }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for(".delete",id=item.id) }}">
                            删除
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
