{% extends "base.html" %}

{% block title %}Certificates{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .revoked td:first-child {
            text-decoration: line-through;
        }
    </style>
{% endblock %}

{% block content %}

    <p>
        <a href="{{ url_for(".create") }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i>
            Create a Root CA certificate
        </a>
    </p>


    <div class="panel panel-default">
        <div class="panel-heading">
            Certificates
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Fingerprint(SHA1)</th>
                <th>Created</th>
                <th>Expired</th>
                <th>Usage</th>
                <th>Common Name</th>
                <th>Actions</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for item in certificates %}
                <tr {% if item.revoked %}class="revoked"{% endif %}>
                    <td>
                        {{ item.sha1 }}
                    </td>
                    <td>
                        {{ item.created }}
                    </td>
                    <td>
                        {{ item.cert.not_valid_after }}
                    </td>
                    <td>
                        {% if item.is_ca %}
                            <i class="glyphicon glyphicon-cloud"></i> CA
                        {% endif %}
                        {% if item.is_server %}
                            <i class="glyphicon glyphicon-tasks"></i> Server
                        {% endif %}
                        {% if item.is_client %}
                            <i class="glyphicon glyphicon-user"></i> Client
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for(".detail",id=item.id) }}">
                            {{ item.cn }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for(".delete",id=item.id) }}">
                            Delete
                        </a>
                        |
                        <a href="{{ url_for(".revoke",id=item.id) }}">
                            Revoke
                        </a>
                    </td>
                    <td>
                        {% if item.revoked %}
                            revoked
                        {% else %}
                            available
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
